IMAGE_TAG=latest

# db / redis
MYSQL_ROOT_PASSWORD=root
REDIS_PASSWORD=root

# spring
JWT_SECRET=d6wd91w61daw1d6a1wd9w9d9w2j4j3j4
THREATBOOK_API_KEY=5ea5eb7c777e432997a42a7dda717c2a1402def6763540f6b6a39a35f010b02a
VT_API_KEY=e2a080bbf4ea756b8734bc8b9bc40cad03d16145f67f71bafe9c86d76e50ae3e

# ghcr login for deploy.sh (optional if already docker login)
GHCR_USER=
GHCR_TOKEN=
